<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8" />
    <title>Item Catalog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Include Thymeleaf JavaScript in case you're using th:action in the form -->
    <script th:src="@{/webjars/thymeleaf/3.0.12.RELEASE/thymeleaf.js}"></script>
    <style>
        .row {
          display: flex;
        }

        .column {
          flex: 50%;
          padding: 10px;
        }

        .right-column {
          background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="message">
        <p>Invalid user or Item</p>
    </div>
    <button class="btn" id = "mainpage" type="button"> Search Catalog </button>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Handle button click
        $("#mainpage").on("click", function () {
            // Perform AJAX request
            $.ajax({
                  type: "GET",
                  url: "/ecommerce/catalog/catalogUI/catalogSearchPage", // Replace with your GET endpoint
                  success: function (data) {
                      // Handle success of the GET request
                      // Do something with the data received
                      console.log(data);
                  },
                  error: function (xhr, status, error) {
                      // Handle error cases for the GET request
                      console.log("GET request failed: " + xhr.status);
                  }
              });
        });
    });
</script>

</body>
</html>
